* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  z-index: 2;
    position: relative;
  /* outline: 1px solid orangered; */
}

@font-face {
  font-family: FKGrosteskRegular;
  src: url(./assets/fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf);
}

@font-face {
  font-family: FKGrosteskSemiBold;
  src: url(./assets/fonts/FKGroteskNeueTrial-Medium-BF6576818c3a00a.otf);
}

@font-face {
  font-family: FKGrosteskLight;
  src: url(./assets/fonts/FKGroteskNeueTrial-Light-BF6576818c0f3e8.otf);
}

@font-face {
  font-family: FKGrosteskThin;
  src: url(./assets/fonts/FKGroteskNeueTrial-Thin-BF6576818c2a14c.otf);
}
@font-face {
  font-family: Loga;
  src: url(./assets/fonts/LOGA.TTF);
}

:root {
  /* Primary branding colors */
  --color-primary-blue: #002fff;
  --color-accent-blue: #1fa5fd;

  /* Utility shades */
  --color-primary-blue-light: #3370ff;
  --color-primary-blue-darker: #0a2448;
  --color-primary-blue-dark: #080618;

  /* Text and background */
  --color-text: #f2f2f2;
  --color-text-blue: #002fff;
  --color-text-blue-dark: #0a2448;
  --color-bg-accent: #1fa5fd;
  --color-bg-bluish: #ecf5ff;
  --color-border: #002fff5b;
  /* padding*/
  --padding: 2rem 2.5rem;
}

.app {
  width: 100%;
  min-height: 100dvh;
  /* background-color: var(--color-primary-blue-dark); */
  overflow-x: clip;
}
*::-webkit-scrollbar {
  display: none;
}
.bg-video {
  inset: 0;
  position: fixed;
  z-index: 0 !important;
  filter: brightness(1);
  min-width: 100vw;
  min-height: 100dvh;
  object-fit: cover;
}
.bg-overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.363);
  backdrop-filter: blur(15px);
}
/* ---------------- NAVBAR ---------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  height: 12vh;
  color: var(--color-text-blue);
  font-family: FKGrosteskRegular, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  flex: 1;
}

.logoDark{
  display: none;
}
.navbar-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1em;
  justify-content: flex-end;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-right ul li {
  padding: 6px 12px;
}
.navbar-right ul li a {
  color: inherit;
  text-decoration: none;
}

.navbar-right ul li a[aria-current='page'] {
  border-bottom: 3px solid;
}
.navbar-right .cta {
  padding: 18px 12px;
  font-family: FKGrosteskLight, sans-serif;
  border: none;
  background-color: var(--color-primary-blue-darker);
  color: var(--color-bg-accent);
  font-size: 1rem;
  text-decoration: none;
}

.humburger-menu {
  display: none;
  width: 40px;
  height: 40px;
  flex-direction: column !important;
  justify-content: center;
  gap: .5rem;
  cursor: pointer;
  background-color: var(--color-primary-blue-darker);
  padding: .2rem;
}

.humburger-menu .bar {
  width: 100%;
  min-height: 2px;
  height: 2px;
  background-color: var(--color-bg-accent);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.humburger-menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.humburger-menu.open .bar:nth-child(2) {
  opacity: 0
}

.humburger-menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px)
}

/* ---------------- HERO ---------------- */
.hero {
  height: auto;
  min-height:90vh !important;
  overflow: hidden;
  width: 100%;
  color: var(--color-text-blue-dark);
  padding-top: 12vh;
  padding:var(--padding);
}

.hero>.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  justify-content: space-between;
}

.hero>.content>.slogan {
  font-size: clamp(3.5rem, 5vw, 6.6rem);
  margin-block: auto;
  line-height: 1;
  min-width: 300px;
}
.hero>.content>.slogan.about {
  font-size: clamp(2.5rem, 5vw, 6.6rem);
  margin-block: auto;
  line-height: 1;
  min-width: 300px;
}

.hero>.content>.slogan h1{
  font-family: Loga, sans-serif !important;
}
.hero>.content>.brief {
  width: 56%;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: 1.3rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero>.content>.brief>.cta-discover {
  color: var(--color-bg-accent);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: FKGrosteskRegular, sans-serif !important;
    font-size: 1.8rem;
    border-bottom: 1px solid;
    width: fit-content;
    padding-bottom: .5rem;
    text-decoration: none;
    cursor: pointer;
}
.hero-container{
  display: flex;
  flex-direction: row;
}
.hero-container>*{
  flex: 1;
}
.hero-image{
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

@media (max-width:1000px){
  .hero-image{
    display: none;
  }
}
/* ---------------- SERVICES ---------------- */
.services {
  display: flex;
  flex-direction: column;
  padding:0rem 2.5rem;
  gap: 2.5rem;
}

.fade-in_service {
  font-size: clamp(1.8rem, 6.9vw, 5rem);
  font-family: FKGrosteskThin, sans-serif !important;
  color: var(--color-text-blue-dark);
  white-space: nowrap !important;
}
.fade-in_service:first-child{
  text-align: right;
  padding: 1rem 3rem;
} 

.services .fade-in_servicebrief {
  width: 53%;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size:clamp(1rem,2vw,1.5rem);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color:var(--color-text-blue-dark);
}

.service-section-cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
  grid-auto-rows: minmax(350px, auto); /* min height 350px, expand as needed */
  grid-gap: 1rem;
  padding: var(--padding);
  height: fit-content;
  place-items: center;
}

.servicecard {
  position: relative;
  overflow: hidden;
  /* flex: 1; */
  min-width: 190px;
  max-width: 300px;
  height: 100%;
  min-height: fit-content;
  border: 1.5px solid var(--color-primary-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.servicecard .servicecard-bg{
  position: absolute;
  width: 100%;
  height: 100%;
}
.servicecard .servicecard-bg::after{
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#0a2448,#0a24486b) ;
  display: block;
  z-index: 4;
}
.servicecard .servicecard-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicecard .click-div{
  width: 5px;
  height: 5px;
  z-index: 9999;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  animation: 2s ease-in-out infinite forwards click;
  display: none;
  transition: transform .2s linear;
}
.servicecard .click-div::after{
  position: relative;
  inset: 0;
  background-color: transparent;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 4;
  display: block;
  border-radius: 100%;
  animation: 2s ease-in-out infinite forwards click;
  animation-delay:.6s;
}
.servicecard .servicecard-content {
  flex-flow: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  padding: 1.8rem;
  color: white;
  font-family: FKGrosteskLight, sans-serif !important;
}
.servicecard .servicecard-content h3{
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}
.servicecard .servicecard-content p{
  font-size: clamp(1rem, 2vw, 1.2rem);
}
/* .servicecard:nth-child(2) {
  transform: translateY(6rem);
}

.servicecard:nth-child(3) {
    transform: translateY(12rem);

}

.servicecard:nth-child(4) {
    transform: translateY(18rem);

}
.servicecard:nth-child(5) {
    transform: translateY(24rem);

} */

/* ---------------- VALUES ---------------- */
.values {
  height: fit-content;
  padding: var(--padding);
  background-color: var(--color-primary-blue-dark);
  margin: 0 !important;
  box-shadow: 0 -20px 220px -60px var(--color-primary-blue-darker);
}

.values>h3 {
  font-family: FKGrosteskLight, sans-serif !important;
  color: var(--color-text);
  font-size: clamp(2.5rem, 6.9vw, 5rem);
}

.container {
  min-height: fit-content;
  height: 100dvh;
  flex: 1;
  display: flex;
  width: 100%;
  background-color: var(--color-primary-blue-dark);
}

.values-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-height: 100dvh;
  overflow-y: clip;
  position: relative;
  padding: var(--padding);
}

.values-left .sticky-image {
  width: 80%;
  height: 90%;
  aspect-ratio: 1;
  border: 1px solid #ff3bff;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 80px -5px green; */
}
.values-left .sticky-image img{
  width: 30%;
  min-width:120px;
}


.values-left .back-shadow {
  width: 70%;
  height: 80%;
  background: radial-gradient(circle, #ff3bff 0%, rgba(255, 0, 0, 0) 80%);
  filter: blur(50px);
  border-radius: 12%;
  position: absolute;
  /* box-shadow: 0 30px 200px #fd982a; */
  top: 80%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.values-right {
  flex: 1;
  /* background-color: blue; */
  width: 50%;
  color: var(--color-text);
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

.values-right>.content {
  height: 500%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.values-right>.content>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.values-right>.content>div h3 {
  font-family: FKGrosteskRegular, sans-serif !important;
  width: 70%;
  min-width: 300px;
  font-size: clamp(1.2rem, 3.6vw, 4rem);
  text-align: left;
}

.values-right>.content>div p {
  font-family: FKGrosteskRegular, sans-serif !important;
  width: 70%;
  min-width: 300px;
  font-size: clamp(1rem, 2.7vw, 1.2rem);
}

.values-right>.content>div .cta-container {
  width: 70%;
  min-width: 300px;
}

.values-right>.content>div>.cta-container>.cta-learn-more {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  padding: 6px 12px;
  font-family: FKGrosteskRegular, sans-serif !important;
  border: none;
}

.values-right>.content>div>.cta-container>.cta-learn-more>.icon {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-blue-dark);
  padding: 4px;
}

/* ---------------- FOOTER ---------------- */
.footer {
  background-color: #0b0c1a;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
    min-width: 300px;
    align-items: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  

}

/* .footer-logo img {
  max-height: 50px;
  min-width: 280px;
} */

.footer-contacts {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-label {
  background-color: #22253a;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 4px;
}

.footer-contact a {
  color: #fff;
  text-decoration: underline;
  text-wrap: nowrap;
  min-width: fit-content;
}

.footer-description {
  font-size: 14px;
  color: #aaa;
  line-height: 1.5;
  flex: 1;
  min-width: 180px;
  text-align: justify;
}

.footer-bottom {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  width: 90%;
  max-width: 90%;
}

.footer-links,
.footer-legal {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  flex: 1;
  justify-content: center;
  }
  
  .footer-legal {
    justify-content: center;
}

.footer-links li,
.footer-legal li {
  font-size: 14px;
  cursor: pointer;
}


.footer-links a{
  text-decoration: none;
  color: var(--color-text);
}
.footer-social {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
}

.footer-social a {
  font-size: large;
  color: #f2f2f2;
  border: 0.5px solid #f2f2f2;
  max-width: 50px;
  max-height: 50px;
  flex: 1;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-credits {
  font-size: 12px;
  color: #777;
  flex: 1;
    display: flex;
    justify-content: center;
    min-width: 180px;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    gap: 2rem;
    max-width: 90%;
    width: 90%;
  
  justify-content: space-between;

}

/* ---------------- CONTACT US ---------------- */

.contactus-section {
  display: flex;
  align-items: center;
  height: 60dvh;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  width: 80%;
  margin: auto;
  gap: 2rem;
  padding: var(--padding);
}

.contactus-section div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contactus-section div:nth-child(1) {
  justify-content: flex-start;
}

.contactus-section div:nth-child(2) {
  justify-content: flex-end;
}

.contactus-section h1 {
  white-space: nowrap !important;
  width: fit-content;
  color: var(--color-text-blue-dark);
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-family: FKGrosteskLight, sans-serif !important;
  width: 60%;
}

.contactus-section a {
  position: relative;
  white-space: nowrap !important;
  width: fit-content;
  color: var(--color-bg-accent);
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-family: FKGrosteskRegular, sans-serif !important;
  text-decoration: none;
  font-weight: 500;
  /* fixed 'medium' */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .1rem;
  text-align: center;
}
.contactus-section a .icon{
  position: relative;
  overflow: hidden;
  width: 5rem;
  height: fit-content;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}
.contactus-section a .icon .slide-icons{
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}
.contactus-section .link{
  position: relative;
}
.contactus-section .link .after{
  --start:0%;
  --end:0%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent-blue);
  overflow: hidden;

}
.contactus-section .link .after-after{
  position: absolute;
  transform-origin: right;
   width:70%;
   height:100%;
   background-color:var(--color-primary-blue-dark);
   transform: translateX(-100%);

}
.contactus-section .link:hover .slide-icons{
  transform: translateX(0);
}



/* @keyframes borderAnimation {
  0%{
    --start:0%;
  --end:0%;
  }
  20%{
    --start:10%;
  --end:30%;
  }
  40%{
    --start:30%;
  --end:95%;
  }
60%{
    --start:60%;
  --end:95%;
  }
  80%{
    --start:95%;
  --end:100%;
  }
  90%,100%{
    --start:100%;
  --end:100%;
  }
} */
.portfolio {
  width: 100%;
  height: 100dvh;
  min-height: fit-content;
  background: linear-gradient(135deg, var(--color-text) 20%, var(--color-bg-bluish));
  display: flex;
  flex-direction: column;
  padding: var(--padding);

}

.portfolio .portfolio-top {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

}

.portfolio .portfolio-top .header {
  border: 1px solid var(--color-border);
  width: fit-content;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  padding: 1rem 4rem 12rem 1rem;
  color: var(--color-text-blue);


}

.portfolio-top .portfolio-top_left {
  flex: 1;
  min-width: 300px;
  border: 1px solid var(--color-border);
  padding: 2rem;
}

.portfolio-top .portfolio-top_right {
  flex: 2;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  transition: grid-template-columns 0.3s, grid-template-rows 0.3s;
}

.portfolio-top_right>div {
  border: 0.025px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: FKGrosteskMidium, sans-serif !important;
  color: var(--color-text-blue);
  transition: all 1s ease;

}


/* Top-left expands */
.portfolio-top_right:has(.projects:nth-child(1):hover) {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;

  .projects:nth-child(1) {
    background-color: #e5f0fd;

    h2 {
      transform: scale(1.4);
    }
  }

}

/* Top-right expands */
.portfolio-top_right:has(.projects:nth-child(2):hover) {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;

  .projects:nth-child(2) {
    background-color: #e5f0fd;

    h2 {
      transform: scale(1.4);
    }
  }

}

/* Bottom-left expands */
.portfolio-top_right:has(.projects:nth-child(3):hover) {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;

  .projects:nth-child(3) {
    background-color: #e5f0fd;

    h2 {
      transform: scale(1.4);
    }
  }


}

/* Bottom-right expands */
.portfolio-top_right:has(.projects:nth-child(4):hover) {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;

  .projects:nth-child(4) {
    background-color: #e5f0fd;

    h2 {
      transform: scale(1.4);
    }
  }

}


.clients {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 3em;
  background-color: var(--color-primary-blue-dark);
}

.clients .title {
  color: var(--color-text);
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-family: FKGrosteskLight, sans-serif !important;
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.clients .outer-crousal {
  flex: 1;
  display: flex;
  height: 300px;
  overflow: hidden;
  width: 100vw;
}
.clients .outer-crousal .inner-crousal{
  display: flex;
  width:200%;
}
.outer-crousal .inner-crousal .crousal-items{
  min-width: 100%;
  display: flex;
  align-items: center;
}
.inner-crousal .crousal-items .crousal-item{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  aspect-ratio: 1;
  /* aspect-ratio: 1; */
  filter: brightness(.8);
  font-family: FKGrosteskMedium, sans-serif !important;


}
.inner-crousal .crousal-items .crousal-item img{
  aspect-ratio: 1;
}
.crousal-items .crousal-item:hover {
  filter: brightness(1);
}



.contact-us-form {
  background-color: white;
}
.contactus-form-section{
   
    width: 95%;
    margin: auto;
    background: linear-gradient(135deg, rgba(15, 15, 43, 0.8), rgba(26, 26, 61, 0.8));
     content: "";


  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
}

.contact-form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;

  color: #fff;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.contact-form-container h2 {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-container label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  text-align: left;
}

.contact-form-container input,
.contact-form-container textarea {
  margin-top: 5px;
  padding: 10px 12px;
  border: none;
  border-bottom: 1px solid var(--color-border);
 
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

.contact-form-container input::placeholder,
.contact-form-container textarea::placeholder {
  color: #888;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
  border-color: var(--color-bg-accent);
}

.contact-form-container textarea {
  min-height: 100px;
  resize: vertical;
}

.contact-form-container button {
  background-color: white;
  color:var(--color-accent-blue);
  font-weight: bold;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.contact-form-container button:hover {
  background-color: #63b3ed;
}
.map-section{
  width: 100%;
  height: 40vh;
  padding: var(--padding);
}
.map-section iframe{
  border: none;
}
.portfolio-page {
  min-height: 100dvh;
  height: fit-content;
  background: linear-gradient(135deg, var(--color-text) 20%, var(--color-bg-bluish));
  padding-inline: 2.5rem;
  padding-top: 12vh;
}

.portfolio-page .portfolio-container {
  width: 100%;
  height: 88dvh;
  min-height: fit-content;
  background-color: var(--color-primary-blue);
  margin: auto;
  display: flex;
  gap: 2rem;
  padding: var(--padding);
  flex-wrap: wrap;
  position: relative;
}
.portfolio-container .portfolio-left,.portfolio-container .portfolio-right{
  position: absolute;
  top: 50%;
  background-color: var(--color-bg-bluish);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-blue);
  transform: translateY(-50%) rotate(45deg);
  z-index: 4;
  box-shadow: 0 0 1px var(--color-primary-blue);
}
.portfolio-container .portfolio-left{
  left: -1.6rem;
}
.portfolio-container .portfolio-right{
  right: -1.6rem;
}
.portfolio-container .portfolio-container_left,
.portfolio-container .portfolio-container_right {
  flex: 1;
  display: flex;
  width: 100%;
  /* height: 100% !important; */
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--color-text);
  min-width: 280px;
}
.portfolio-container .portfolio-container_right .company-name {
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: clamp(2.5rem, 6.9vw, 5rem);
  width: 80%;
}

.portfolio-container .portfolio-container_right .company-overview {
  font-family: FKGrosteskRegular, sans-serif !important;
  font-size: clamp(1.4rem, 6.9vw, 1.6rem);
  width: 80%;

}

.portfolio-container .portfolio-container_right .project-overview {
  font-family: FKGrosteskRegular, sans-serif !important;
  font-size: clamp(1.1rem, 6.9vw, 1.2rem);

  width: 80%;

}

.portfolio-container .portfolio-container_left {
  align-items: center;
}

.portfolio-container .portfolio-container_left .project-image {
  position: relative;
  width: 90%;
  aspect-ratio: 1;
}
.portfolio-container .portfolio-container_left .project-image .overlay{
  position: absolute;
  inset: 0;
  height: 100%;
  background: linear-gradient(rgba(2, 20, 61, 0.3));
  display: flex;
  align-items: center;
  justify-content: center;

}

.portfolio-container .portfolio-container_left .project-image .overlay img{
  position:relative;
  width: 40%;
  object-fit: contain;
}
.portfolio-container .portfolio-container_left .project-image img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}
.about-us_page {
  padding: var(--padding);
  padding-top: 12vh;
  height: 100vh;
  min-height: fit-content;
}

.about-us_page .slogan .sliding-word {
  width: fit-content;
  height: 110px !important;
  overflow: hidden;
  position: relative;
}

.about-container{
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
}
.about-img{
  width:450px;
}
.about-thecompany{
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25%;

}
.mission-about{
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
 
}

.sliding-word .slider {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 400%;
}

.sliding-word .slider>* {
  flex: 1;
}

.gradient-text {
  background: linear-gradient(60deg, var(--color-accent-blue), var(--color-primary-blue)) !important;
  background-size: cover;
  font-family: FKGrosteskLight, sans-serif !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
  font-size: clamp(2rem, 7vw, 3.6rem) !important;
  font-weight: 900;
  margin-top: .5rem;
}

.gradient-text.second {
  background: linear-gradient(60deg, #ecb375 30%, #fd982a) !important;
  background-size: cover;
  font-family: FKGrosteskLight, sans-serif !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
}

.more {
  height: fit-content;
  color: var(--color-text-blue-dark);
  padding: var(--padding);
  font-size: clamp(1rem, 2.7vw, 1.6rem) !important;
  margin-top: .5rem;
  font-family: FKGrosteskLight, sans-serif !important;
  width: 100%;
  min-width:300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.more .content {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 1rem;
}
.more .content:first-child{
  flex-wrap: wrap-reverse;
}
.more .content .content-left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
  justify-content: center;
  min-width: 280px;
}
.more .content .content-left ul{
  list-style: none;
}
.more .content .content-right{
  flex: 1;
  min-width: 280px;
  display: flex;
  align-items: center;
}

.more .content .content-left h1{
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: clamp(2rem, 4.7vw, 2.3rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-text-blue-dark);
}
.more .content .content-left p{
  /* font-size: 1rem; */
  font-family: FKGrosteskLight, sans-serif !important;
  color: var(--color-text-blue-dark);
  font-size: 1.3rem;

}
.more .content .content-right img{
  aspect-ratio: 1;
  object-fit: contain;
  max-width: 300px;
}

.services-page{
  min-height: 100vh;
  padding: var(--padding);
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-page>.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  justify-content: space-between;
}

.services-page>.content>.slogan {
  font-size: clamp(1.5rem, 5vw, 2.6rem);
  margin-block: auto;
  font-family: FKGrosteskLight, sans-serif !important;
  line-height: 1.2;
  min-width: 300px;
}

.services-page>.content>.brief {
  width: 56%;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: 1.3rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-page .services-list{
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}

.services-page .services-list .service-rw{
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--color-primary-blue);
  z-index:0;
  transition: padding .3s ease-in-out, background-color .3s ease-in-out;
  cursor: pointer;
}
.services-page .services-list .service-rw.hover{
  z-index: 2;
  padding-left: 1.5rem;
  background-color:#002fff13;
}
.services-page .services-list .service-rw:nth-child(1){
  border-top: 1px solid var(--color-primary-blue);
}
.services-list .service-rw .service-name{
  font-size: clamp(1.2rem,2vw,1.5rem);
  font-family: FKGrosteskRegular, sans-serif !important;
}

.services-list .service-rw .service-brief{
  width: 60%;
  font-size:1rem;
  font-family: FKGrosteskRegular, sans-serif !important;
}

.services-list .service-rw .service-img{
  position: absolute;
  width: 20%;
  height: 350px;
  min-width: 180px;
  right: 2rem;
  top:50%;
  visibility: hidden;
  transform: translateY(-50%) scale(.8);
  transition: transform .3s ease-in-out;
  z-index: 2;
}
.service-rw .service-img.visible{
  visibility: visible !important;
  transform: translateY(-50%) scale(1) !important;
}
.service-rw .service-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notfound-page{
  width: 100%;
  height: 100dvh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: FKGrosteskLight, sans-serif !important;
  color: var(--color-primary-blue);
}
.notfound-page h1{
  font-size:clamp(1rem,2vw,4.5rem);
}
.notfound-page a{
  color: var(--color-primary-blue);
  display: flex;
  align-items: center;
  gap: .5rem;
}



@media (max-width:590px) {
  .services-list .service-rw{
    flex-direction: column-reverse;
  }
  .services-list .service-rw .service-name,.services-list .service-rw .service-brief{
    width:100%
  }
  .services-list .service-rw .service-img{
    position: relative;
    visibility: visible;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
  }
}
@media (max-width:819.5px){
  .service-section-cards{
    /* height: 120vh; */
  
  }
  /* .servicecard:nth-child(3) {
    transform: translateY(-8rem) !important;
  }
  
  .servicecard:nth-child(4) {
    transform: translateY(-2rem) !important;
  } */
}
@media (max-width:624px) {
  .portfolio-container .portfolio-container_right {
    justify-content: flex-start;
  }
  .portfolio-container .portfolio-container_right .company-name {
    width: 100%;
  }

  .portfolio-container .portfolio-container_right .company-overview {
    width: 100%;
  }

  .portfolio-container .portfolio-container_right .project-overview {
    width: 100%;
  }
}
@media (max-width:665px) {
  * {
    --padding: 1rem;
  }
    .portfolio-page {
      padding-inline: 0rem;
    }
    .portfolio-container .portfolio-left{
      top: 40%;
      left:1rem;
    }
    .portfolio-container .portfolio-right{
      top: 40%;
      right: 1rem;
    }
    
  .values{
    padding-block: 2rem;
  }
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .values-left,
  .values-right {
    flex: 1;
    width: 100%;
  }
  
  .values-left .sticky-image {
    height: 250px;
  }
  
  .values-left{
    max-height: fit-content !important;
  }
  .values-right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: none;
    min-height: fit-content !important;
  }
  
  .values-right .content {
    
    height: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .values-right .value-top {
    height: fit-content;
  }

  .services {
    padding: 1rem;
    gap: 2rem;
  }

  .fade-in_service {
    padding: 0;
  }
  
  
  
  
  .contactus-section {
    width: 100%;
    padding: var(--padding);
  }
}

@media (max-width:770px) {
  
  .header
  .navbar-left {
    display: none;
  }
  
  .navbar-center {
    /* background-color: yellow; */
    justify-content: flex-start;
  }
  
  .navbar-right {
    position: fixed;
    display: none;
    background-color: rgba(175, 175, 175, 0.164);
    backdrop-filter: blur(40px);
    height: 88dvh;
    width: 100%;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding);
    z-index: 999;
    overflow: auto;
  }
  .navbar-right.open{
    display: flex;
  }
.navbar-right ul{
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.navbar-right ul li{
  width: 100%;
}
  .humburger-menu {
    display: flex;
  }
  .portfolio-top{
    gap: 0 !important;
  }
  .portfolio-top .portfolio-top_left {
    flex: 1;
    /* max-height: 50%; */
  }
  .portfolio-top .portfolio-right {
    flex: 1;
  }
  .portfolio-top .portfolio-right >*{
    min-width:150px !important;
  }
  .portfolio-top .header{
    padding: 1rem 4rem 8rem 1rem !important;
  }
}
@media (max-width:700px){
  .service-section-cards{
    /* height: 100vh; */
  }
 /* .servicecard:nth-child(3) {
    transform: translateY(-8rem) !important;
}

.servicecard:nth-child(4) {
    transform: translateY(-2rem) !important;
} */

/* Top-left expands */
.portfolio-top_right:has(.projects:nth-child(1):hover) {
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;

  .projects:nth-child(1) {
    background-color: #e5f0fd;
  }

}
/* Top-right expands */
.portfolio-top_right:has(.projects:nth-child(2):hover) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .projects:nth-child(2) {
    background-color: #e5f0fd;

  }

}

/* Bottom-left expands */
.portfolio-top_right:has(.projects:nth-child(3):hover) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .projects:nth-child(3) {
    background-color: #e5f0fd;

  }


}

/* Bottom-right expands */
.portfolio-top_right:has(.projects:nth-child(4):hover) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .projects:nth-child(4) {
    background-color: #e5f0fd;

  }

}

}

.stop-scrolling {
  overflow: clip !important;
}


@keyframes click {
  0%{
    outline: none;
    outline-offset: 0;
  }
  50%{
    outline: 1px solid white;
    outline-offset: 1rem;
  }
  100%{
    outline-offset: 1rem;

  }
}
