* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid orangered; */
}

@font-face {
  font-family: FKGrosteskRegular;
  src: url(./assets/fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf);
}

@font-face {
  font-family: FKGrosteskSemiBold;
  src: url(./assets/fonts/FKGroteskNeueTrial-Medium-BF6576818c3a00a.otf);
}
@font-face {
  font-family: FKGrosteskLight;
  src: url(./assets/fonts/FKGroteskNeueTrial-Light-BF6576818c0f3e8.otf);
}

@font-face {
  font-family: FKGrosteskThin;
  src: url(./assets/fonts/FKGroteskNeueTrial-Thin-BF6576818c2a14c.otf);
}

:root {
  /* Primary branding colors */
  --color-primary-blue: #002fff;
  --color-accent-blue: #1fa5fd;

  /* Utility shades */
  --color-primary-blue-light: #3370ff;
  --color-primary-blue-darker: #0a2448;
  --color-primary-blue-dark: #080618;

  /* Text and background */
  --color-text: #f2f2f2;
  --color-text-blue: #002fff;
  --color-bg-accent: #1fa5fd;

  /* padding*/
  --padding: 2rem 2.5rem;
}

.app {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-primary-blue-dark);
  overflow-x: clip;
}

*::-webkit-scrollbar {
  display: none;
}

/* ---------------- NAVBAR ---------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  height: 12vh;
  color: var(--color-text);
  font-family: FKGrosteskRegular, sans-serif;
}

.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1em;
  justify-content: flex-end;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-right ul li {
  padding: 6px 12px;
}

.navbar-right .cta {
  padding: 18px 12px;
  font-family: FKGrosteskLight, sans-serif;
  border: none;
  background-color: var(--color-primary-blue-darker);
  color: var(--color-bg-accent);
  font-size: 1rem;
}

/* ---------------- HERO ---------------- */
.hero {
  height: 90vh;
  min-height: 90vh;
  width: 100%;
  color: var(--color-text);
  padding: var(--padding);
}

.hero > .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  justify-content: space-between;
}

.hero > .content > .slogan {
  font-size: clamp(1.5rem, 5vw, 3.6rem);
  margin-block: auto;
  font-family: FKGrosteskLight, sans-serif !important;
  line-height: 0.9;
  min-width: 300px;
}

.hero > .content > .brief {
  width: 33%;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: 1.3rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero > .content > .brief > .cta-discover {
  color: var(--color-bg-accent);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: 1.4rem;
}

/* ---------------- SERVICES ---------------- */
.services {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.fade-in_service {
  text-align: right;
  font-size: clamp(2.5rem, 6.9vw, 5rem);
  padding: 1rem 3rem;
  font-family: FKGrosteskThin, sans-serif !important;
  color: var(--color-text);
  white-space: nowrap !important;
}

.service-section-cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
}

.servicecard {
  flex: 1;
  max-width: 380px;
  height: 450px;
  border: 1.5px solid #1fa5fd;
  background-image: url(./assets/images/service.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.servicecard .servicecard-content {
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  padding: 50px;
  color: white;
  font-family: FKGrosteskLight, sans-serif !important;
  font-size: 2rem;
}

.servicecard:nth-child(2) {
  margin-top: 8rem;
}
.servicecard:nth-child(3) {
  margin-top: 14rem;
}
.servicecard:nth-child(4) {
  margin-top: 20rem;
}

/* ---------------- VALUES ---------------- */
.values {
  /* min-height: 100dvh; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--padding);
  /* margin-bottom: 50dvh; */
}

.values > h3 {
  font-family: FKGrosteskLight, sans-serif !important;
  color: var(--color-text);
  font-size: clamp(2.5rem, 6.9vw, 5rem);
}

.container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  width: 100%;
  /* background-color: yellow; */
}

.values-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100%;
}

.values-left .sticky-image {
  width: 80%;
  height: 80%;
  border: 1px solid white;
  box-shadow: 0 0 400px -5px green;
}

.values-right {
  flex: 1;
  /* background-color: blue; */
  width: 50%;
  color: var(--color-text);
  overflow: hidden;
  min-height: 100%;
}

.values-right > .content {
  height: 200%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.values-right > .content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.values-right > .content > div h3 {
  font-family: FKGrosteskRegular, sans-serif !important;
  width: 70%;
  min-width: 300px;
  font-size: clamp(1.2rem, 3.6vw, 4rem);
  /* background-color: red; */
  text-align: left;
}

.values-right > .content > div p {
  font-family: FKGrosteskRegular, sans-serif !important;
  width: 70%;
  min-width: 300px;
  font-size: clamp(1rem, 2.7vw, 1.6rem);
}

/* ---------------- FOOTER ---------------- */
.footer {
  background-color: #0b0c1a;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo img {
  max-height: 50px;
}

.footer-contacts {
  display: flex;
  gap: 40px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-label {
  background-color: #22253a;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 4px;
}

.footer-contact a {
  color: #fff;
  text-decoration: underline;
}

.footer-description {
  font-size: 14px;
  color: #aaa;
  margin-top: 20px;
  line-height: 1.5;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.footer-links,
.footer-legal {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-legal li {
  font-size: 14px;
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  font-size: large;
  color: #f2f2f2;
  border: 0.5px solid #f2f2f2;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-credits {
  font-size: 12px;
  color: #777;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

/* ---------------- CONTACT US ---------------- */
.contactus-section {
  display: flex;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  margin: auto;
  gap: 2rem;
}

.contactus-section div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contactus-section div:nth-child(1) {
  justify-content: flex-start;
}

.contactus-section div:nth-child(2) {
  justify-content: flex-end;
}

.contactus-section h1 {
  white-space: nowrap !important;
  width: fit-content;
  color: var(--color-text);
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-family: FKGrosteskLight, sans-serif !important;
  width: 60%;
}

.contactus-section a {
  white-space: nowrap !important;
  width: fit-content;
  color: var(--color-bg-accent);
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-family: FKGrosteskLight, sans-serif !important;
  text-decoration: none;
  font-weight: 500; /* fixed 'medium' */
  border-bottom: 3px solid;
  text-align: center;
}

.contactus-section .icon {
  font-size: 1em;
}
