* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: FKGrosteskRegular;
    src: url(./assets/fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf);
}

@font-face {
    font-family: FKGrosteskLight;
    src: url(./assets/fonts/FKGroteskNeueTrial-Light-BF6576818c0f3e8.otf);
}
@font-face {
    font-family: FKGrosteskThin;
    src: url(./assets/fonts/FKGroteskNeueTrial-Thin-BF6576818c2a14c.otf);
}

:root {
    /* Primary branding colors */
    --color-primary-blue: #002fff;
    --color-accent-blue: #1fa5fd;

    /* Utility shades (optional; based on these colors) */
    --color-primary-blue-light: #3370ff;
    /* adjust as needed */
    --color-primary-blue-darker: #100b38;
    --color-primary-blue-dark: #080618;

    /* Example for text and background */
    --color-text: #f2f2f2;
    /* Primary text color */
    --color-text-blue: #002fff;
    /* secondary text color */
    --color-bg-accent: #1fa5fd;
    /* Accent background for buttons, highlights */

    /* Font Size*/

}


.app {
    width: 100%;
    height: 100dvh;
    background-color: var(--color-primary-blue-dark);
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 15vh;
    color: var(--color-text);
    font-family: FKGrosteskRegular, sans-serif;

    .navbar-right {
        display: flex;
        align-items: center;
        gap: 1rem;

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                font-size: .8em;
                padding: 6px 12px;
            }
        }

        .cta {
            padding: 12px 12px;
            border: none;
            background-color: var(--color-primary-blue-darker);
            color: var(--color-bg-accent);
        }
    }
}

.hero {
    height: 85vh;
    width: 100%;
    color: var(--color-text);
    padding: 3.5rem;

    >.content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;
        justify-content: space-between;

        >.slogan {
            font-size: clamp(1.8rem, 3.9vw, 39rem);
            font-family: FKGrosteskLight, sans-serif !important;
            line-height: .9;
            min-width: 300px;
        }

        >.brief {
            width: 30%;
            font-family: FKGrosteskLight, sans-serif !important;
            font-size: clamp(1.3rem, 2.7vw, 1.8rem);
            min-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            >.cta-discover {
                color: var(--color-bg-accent);
                display: flex;
                align-items: center;
                gap: .5rem;
                font-family: FKGrosteskLight, sans-serif !important;
                font-size: 2rem;
            }
        }
    }

}